@model dynamic

@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success!</title>
</head>
<body>
<h1>Operation executed successfully!</h1>
@Html.ActionLink("Go to homepage", "Index")
</body>
</html>