@model System.Web.Management.SqlExecutionException

@{
    ViewBag.Title = "UnsuccessOperation";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Неудача!</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="panel-danger">
        <div class="panel-heading text-center">
            <h2>Невозможно выполнить операцию!</h2>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <h3> @Model.Message </h3>
            </div>
            <div class="container--fluid">
                <div class="row">
                    <div class="text-center btn btn-danger btn-lg col-sm-offset-4 col-sm-4 col-xs-12">
                        @Html.ActionLink("Вернуться на домашнюю страницу", "Index")
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>